.example-spacer {
  flex: 1 1 auto;
}

.icon-link {
  text-decoration: none;
}

.header {
  background-color: #EC1C2D;
  height: 7vh;
  padding-right: 15%;
}

.icon-logout {
  scale: 1.5;
}
.user-name {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}