.container {
  width: 7vw;
  height: 83vh;
}

.icon-logo-banorte {
  scale: 2.5;
}

.label-buttons{
  font-weight: 500;
  size: 12px;
  line-height: 16px;
}

.button-toggle {
  border: none;
  padding: 6%;
}

.support-button {
  scale: 3;
}

.container-support-button {
  height: 44%;
}